body {
    font-family: 'Fredoka One', cursive;
    background-image: url(https://i.ibb.co/TvjC7Wq/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 150px;
    background-color: rgb(36, 36, 36);
    text-align: center;
}

header h1 {
    font-size: 40px;
    color: rgb(230, 46, 45);
    display: inline-block;
    padding-right: 120px;
    padding-top: 60px;

}

header img {
    height: 150px;
    display: inline;
    float: left;
    padding-left: 120px;
}

main {
    height: 520px;
}

main div {
    display: inline-block;
}

#form {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(172, 188, 201);
    color: rgb(230, 46, 45);

    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
}

fieldset {
    padding-top: 30px;
}

#submitBtn {
    border: none;
    background-color: rgb(230, 46, 45);
    color: white;
    width: 180px;
    height: 30px;
}

input, select {
    width: 180px;
    height: 30px;
    border-radius: 5px;
}

#table {
    width: 400px;
    background-color: rgb(172, 188, 201);
    margin-left: 50px;
    border-radius: 10px;
    padding: 20px;
}

table span {
    display: block;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

#table img {
    height: 60px;
}

footer {
    height: 50px;
    background-color: rgb(36, 36, 36);
    color: rgb(230, 46, 45);
    text-align: center;
}